* {
    margin: 0;
    padding: 0;
}
.btn{
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png),  #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    
}
nav {
    width: 71%;
    max-width: 1140px;
    /* border: solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF8F3;

}
.logo h2{
    font-size: 45px;
    
}
.menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
.menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#baner {
    /* border: solid red 2px; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#baner .baner-content h2{
    font-size: 45px;
    font-weight: 600;
    color:#474747;
    margin-bottom: 5px;
   
}

#baner .baner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 20px;
}
#baner .baner-content p{
    font-size: 18px;
    font-weight: ;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
#baner .baner-image img{
    max-width: 585px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;

}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;

}
#about .about-container h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;

}
#about .about-container .section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
    

}
.about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
    line-height: ;
}

#skill{
    padding-top: 130px;
}

#skill .sill-container{
    width: 71%;
    max-width: 1077px;
    margin: 0 auto;
   
}



#skill .sill-container .skill-info{
    margin: 0 auto;
    text-align: center;
}
#skill .sill-container .skill-info h3{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #181818;
}
#skill .sill-container .skill-info p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
    line-height: 30px;
}


    
.sill-card{
    /* width: 23%; */
    background: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px rgba(0,0,0,0.06);
    
    
} 
#skill .skill-box{
    display: flex;
    gap: 24px;
   
    
}

.sill-card img{
    margin-bottom: 30px;
}